<h1>Retailer Products</h1>
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Retailer</th>
      <th>Price</th>
      <th>Stock Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @retailer_products.each do |retailer_product| %>
      <tr>
        <td><%= retailer_product.product_master.name %></td>
        <td><%= retailer_product.retailer.name %></td>
        <td><%= retailer_product.price %></td>
        <td><%= retailer_product.stock_quantity %></td>
        <td><%= link_to 'Show', retailer_product %></td>
        <td><%= link_to 'Edit', edit_retailer_product_path(retailer_product) %></td>
        <td><%= link_to 'Destroy', retailer_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Retailer Product', new_retailer_product_path %>
