<h1>Retailers</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @retailers.each do |retailer| %>
      <tr>
        <td><%= retailer.name %></td>
        <td><%= retailer.location %></td>
        <td><%= link_to 'Show', retailer %></td>
        <td><%= link_to 'Edit', edit_retailer_path(retailer) %></td>
       <td>
  <%= form_with(model: retailer, method: :delete, data: { confirm: 'Are you sure?' }, local: false) do |form| %>
    <%= form.submit 'Destroy', class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
  <% end %>
</td>


      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Retailer', new_retailer_path %>
