<h1>Categories</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td>
  <%= form_with(model: category, method: :delete, data: { confirm: 'Are you sure?' }, local: false) do |form| %>
    <%= form.submit 'Destroy', class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
  <% end %>
</td>

      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Category', new_category_path %>
