

<!-- app/views/admin/csv_import/form.html.erb -->
<%= form_tag admin_csv_import_import_path, method: :post, multipart: true do %>
  <!-- Other form fields and labels -->

  <div class="field">
    <%= label_tag 'Select CSV file' %>
    <%= file_field_tag :csv_file %>
  </div>

  <div class="field">
    <%= label_tag 'Model to Import' %>
    <%= select_tag :model_name, options_for_select(['Brand', 'ProductMaster', 'Categories', 'Retailers']), class: 'select' %>
  </div>
  <%= submit_tag 'Import CSV', class: 'button' %>


  <!-- Rest of the form -->

<% end %>

